doctype html
html(lang="en")
	head
		title= Particles
		script(
			type="text/javascript"
			src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min.js"
		)
		script(
			type="text/javascript"
			src="src/particles.js"
		)
	body
		h1 Particles
		div(
			id="container"
		)